@model Exercicio9ASP.Models.Aluno

@{
    ViewData["Title"] = "Details";
}
<div>
<h1 style="background: linear-gradient(90deg, #0d6efd 20%,#0E08B0 60% , #6610f2 100%); display:inline-block;color: white">Detalhes</h1>
<br />

<h4 style="background: linear-gradient(90deg, #0d6efd 40%, #6610f2 100%); display:inline-block;color:white">Alunos</h4>
<hr />
</div>
<div style="background: rgba(255,255,255,0.7); border-radius: 10px; padding: 20px;">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="color: white; font-weight: bold;">Editar</a> |
    <a asp-action="Index" style="color: white; font-weight: bold;">Voltar à lista</a>
</div>
