@model IEnumerable<Exercicio9ASP.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1 style="background: linear-gradient(90deg, #0d6efd 20%,#0E08B0 60% , #6610f2 100%); display:inline-block;color: white">Instituição de Ensino</h1>

<p>
    <a asp-action="Create" style="color: white; font-weight: bold;">Criar novo</a>
</p>
<h4 style="background: linear-gradient(90deg, #0d6efd 40%, #6610f2 100%); display:inline-block;color:white">Alunos</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            
            <th> 
                @Html.DisplayNameFor(model => model.Curso)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
